<section class="header-section">
  <div class="header-title">
    <h6>
      <% if @company %>
        <h6>Create a New Job at <%= link_to @company.name, company_path(@company) %></h6>
      <% else %>
        <h6>Create a New Job</h6>
      <% end %>
    <h6>
  </div>
</section>
<main>
  <%= render partial: "form" %>
</main>
