<section class="header-section">
  <div class="header-title">
    <h6>
      <% if @company %>
        Create a New Job at <%= link_to @company.name, company_path(@company) %>
      <% else %>
        Create a New Job
      <% end %>
    <h6>
  </div>
</section>
<main>
  <%= render partial: "form" %>
</main>
