<section class="header-section">
  <div class="header-title">
    <h6>Edit <%= link_to @company.name, company_path(@company) %><h6>
  </div>
</section>

<main>
  <%= render partial: "form" %>
</main>
