<section class="header-section">
  <div class="header-title">
    <h6>All Companies<h6>
  </div>
</section>


<div class="table">
  <table>
    <thead class="table-collection">
      <tr class="table-header">
        <th>Company Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-collection">
      <% @companies.each do |company| %>
        <tr class="table-item">
          <td><%= link_to company.name, company_path(company) %></td>
          <td>
          <div class="edit-delete">
              <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_company_path(company) %>
              <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, company_path(company), method: :delete, data: { confirm: "You are about to delete this contact."} %>
          <div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>
