main
  display: flex
  justify-content: center

  form
    .form-group
    display: flex
    flex-direction: column
    justify-content: space-around

    input, select
      .form-control
      margin-bottom: 10px

    label
      font-weight: bold

div.table
  .table-responsive
  display: flex
  justify-content: flex-start
  padding-top: 50px

  table
    .table
    .table-striped
    justify-content: center

  tr
    .active

  td
    justify-content: flex-start
    align-content: center
    width: 200px

body
  height: 100vh


body#background
  background:
    image: asset-url("background.jpg")
    size: cover
    repeat: no-repeat
    position: center
  display: flex
  justify-content: space-around
  align-content: space-around
  font-family: 'Audiowide'

div#logo-links
    display: flex
    justify-content: center
    align-self: center
    flex-flow: column nowrap
    background-color: transparentize(#5c5d67, .1)
    position: relative
    width: 50%
    height: 50%

div#logo
  display: flex
  justify-content: center
  align-content: center
  flex-direction: row
  padding-left: 10px

  h3
    font-size: 70px
    color: white

div#links
  display: flex
  justify-content: space-around
  flex-flow: row nowrap
  margin-top: 10%

  a
    color: white
    font-size: 25px


section.header-section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: transparentize(#5c5d67, .1)
  background-position: center center
  background-size: cover
  height: 200px

  .header-title
    h6
      font-size: 60px
      color: white
      a
        color: white

    .header-links
      a
        font-size: 60px
        color: white




// .header-section ul
//   display: flex
//   flex-direction: column
//   justify-content: center
//
//
// .header-section ul h6
//   display: flex
//   justify-content: center
//   font-size: 50px
//   margin: 40px
//   font-weight: bold
//
//
// .header-section .buttons-1
//   display: inline-flex
//   flex-direction: row
//   justify-content: space-between
//   margin: 0% 40%
